header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent url('../img/codigo-de-programacion-de-futurista-y-grandes-conexiones-de-datos-y-modelos-de-red-ilustracion-3d-prfdh8.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.container{
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000cf;
}

.perfil{
    width: 9rem;
    height: 10rem;
}

h1{
    color:#ffff;
    padding: 0.8rem;
}

p{
    font-size: larger;
    font-family: cursive;
    color: #ffff;
    padding: 0.8rem;
}

@media only screen and (min-width:1000px){
    header{
        height: 100vh;
    }
        .container{
            width: 70vw;
        }
}