@import "tailwindcss";

.title {
    @apply text-3xl text-center py-2 rounded-2xl border-2 border-purple-800 shadow-lg;
}

.bg-gradient-own {
    @apply bg-gradient-to-b from-black via-purple-800 to-black;
}

.bg-opacity {
    @apply md:bg-black/80 md:py-2 md:px-4 md:rounded-2xl md:border-2 md:border-purple-800 
    md:hover:bg-purple-950 md:transition-colors md:duration-400;
}

.shadow-own-hard {
    @apply shadow-[0_10px_25px_rgba(110,17,176,0.5)];
}